# Database
DATABASE_URL="postgresql://secret:secret@localhost:PORT

# Redis
REDIS_URL="redis://localhost:6379"

# Google Maps API
GOOGLE_MAPS_API_KEY=SECRET

# OpenRouteService API
OPENROUTESERVICE_API_KEY=SECRET

# Server Configuration
PORT=8000
NODE_ENV=development
