requests==2.29.0
beautifulsoup4==4.12.2
selenium==4.9.0
lxml==4.9.2
sqlalchemy==1.4.46
geoalchemy2==0.13.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
undetected-chromedriver==3.4.7
webdriver-manager==3.8.6
shapely==2.0.1
schedule==1.2.0 